.container {
    margin: 13px auto 25px;
    padding: 0 13px;
}
/*.image {*/
/*    width: 414px;*/
/*    height: 100vw;*/
/*    max-width: 100%;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*}*/
.image__item {
    width: 100%;
    height: 100%;
}
@media (min-width: 414px) {
    .character__name {
        font-size: 24px;
    }
}