body {
    background-image: url(/images/galaxy.png);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}
.container {
    padding: 0 8px;
    width: 414px;
    max-width: 100%;
    margin: 10px auto 36px;
}
.big {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;
}
.small {
    font-size: 18px;
    margin-bottom: 7px;
}
.front {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}
.front__backlink {
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 9px;
}
.front__image {
    display: block;
    width: 414px;
    height: 100vw;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(/images/morty.png);
    background-size: 100%;
}
/*.name {*/
/*    text-overflow: ellipsis;*/
/*    width: 100px;*/
/*    overflow: auto;*/
/*}*/
.location__image {
    width: 145px;
    height: 145px;
    grid-area: location__typeimage;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/images/morty.png);
    align-self: center;
}
[locationtype = "Planet"] {
    background-image: url(/images/planet.png);
}[locationtype = "Resort"] {
    background-image: url(/images/resort.png);
}[locationtype = "TV"] {
    background-image: url(/images/tv.png);
}[locationtype = "Fantasy town"] {
    background-image: url(/images/fantasy-town.png);
}[locationtype = "Dream"] {
    background-image: url(/images/dream.png);
}[locationtype = "Space station"] {
    background-image: url(/images/space-station.png);
}[locationtype = "Cluster"] {
    background-image: url(/images/cluster.png);
}[locationtype = "Microverse"] {
    background-image: url(/images/microverse.png);
}
[locationtype = "unknown"] {
    background-image: url(/images/unknown.png);
}

@media (min-width: 414px) {
    .big {
        font-size: 24px;
    }
    .front__image {
        height: 414px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 992px;
        padding: 0 16px;
    }
    .front {
        width: 992px;
    }
    .location__image {
        width: 200px;
        height: 200px;
    }
}