.location__typeimage {
    width: 414px;
    height: 100vw;
    max-width: 100%;
    margin: 0 auto;
}
.backlink {
    display: inline-block;
    margin-top: 9px;
    margin-left: 13px;
}
.info {
    margin-bottom: 50px;
}
.info__name {
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 7px;
}
.info__type {
    font-size: 18px;
}
.residents__title {
    font-size: 24px;
    margin-bottom: 13px;
}
@media (min-width: 414px) {
    .location__typeimage {
        height: 414px;
    }
}