.container {
    padding: 0 8px;
    width: 398px;
    max-width: 100%;
    margin: 10px auto 36px
}
.header {
    background-color: #000000;
    /*background-image: url(/images/header.png);*/
    background-repeat: no-repeat;
}
.header__img {
    display:block;
    margin: 0 auto;
    display: flex;
    max-width: 100%;
}