
.location__list {
    display: grid;
    grid-row-gap: 8px;
}
.location__item {
    max-width: 100%
}
.location__link {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 0.8fr auto 1fr;
    gap: 0px 16px;
    grid-template-areas: "location__typeimage location__name" "location__typeimage location__type" "location__typeimage location__residents";
    background-color: #312A2A;
}
.location__name {
    grid-area: location__name;
    font-size: 20px;
    /*margin-top: 16px;*/
    margin-bottom: 7px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    align-self: end;
}
.location__type {
    grid-area: location__type;
    margin-bottom: 12px;
    font-size: 18px;
}
.location__residents {
    grid-area: location__residents;
    /*margin-bottom: 11px;*/
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
    grid-column-gap:10px;
    grid-row-gap: 0px;
    align-self: start;
}
.location__resident {
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
}
.location__residentimage {
    width: 100%;
}
@media (min-width: 414px) {
    .location__name {
        font-size: 24px;
    }
    .location__residents {
        grid-column-gap:20px;
    }
    .location__resident {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 992px) {
    .location__list {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        align-items: center;
    }
    .location__item {
        transition: 0.25s ease;
    }
    .location__item:hover {
        transform: translate(-5px,-5px);
        perspective: 1000px;
        box-shadow: 5px 5px 5px rgba(66,255,235,0.3);
    }
    .location__name {
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
        padding-right: 0px;
        margin-top: 16px;
        margin-bottom: 12px;
    }
    .location__link {
        grid-template-rows: auto auto 1fr;
    }
}